@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-green: #78A957;
  --light-green: #8FBF6A;
  --dark-green: #5F8F45;

  --primary-blue: #2E7FA6;
  --light-blue: #4FA3C6;
  --dark-blue: #1F5F7A;

  --text-dark: #2F4F63;
  --text-gray: #6B7C87;

  --bg-light: #F2F4F5;
}